.content {
  width: 1200px;
  margin: auto;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .tab {
      display: flex;
      gap: 32px;

      .tabItem {
        color: #71717a;
        font-size: 18px;
        font-weight: 400;

        &:hover {
          color: #fff;
        }
      }

      .selected {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .breadcrumb {
    margin: 20px 0 16px;
    color: #fff;
  }

  .videoList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 32px 0;
  }

  .searchInput {
    background-color: rgba(255, 255, 255, 0.06);
    width: 384px;
    height: 38px;
    border-radius: 19px;
    border: 1px solid #ffffff1a;
    color: #fff;
  }

  :global {
    .ant-tabs-tab {
      padding: 0 0 3px;
    }

    .ant-tabs-tab-btn {
      font-size: 18px;
    }
  }
}
