.videoCard {
  width: 261px;
  background: rgba(20, 20, 25, 0.6);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  .main {
    img {
      width: 100%;
      height: 147px;
    }
  }

  .sub {
    padding: 12px;
    text-align: left;

    .title {
      width: 100%;
      font-size: 14px;
      color: #fff;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .date {
      font-size: 14px;
      color: #a1a1aa;
      display: flex;
      justify-content: space-between;

      .time {
        color: #71717a;
      }
    }
  }
}
