.ecoWrapper {
  margin: 0 -120px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0 72px;

  .maxContainer {
    width: 1200px;
    margin: auto;
  }

  img {
    max-width: 1200px;
    padding: 32px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px -4px rgba(132, 135, 155, 0.12),
      0 6px 16px 0 rgba(132, 135, 155, 0.08),
      0 9px 28px 8px rgba(132, 135, 155, 0.05);
    border-radius: 12px;
  }
}
