@import '../../global.less';

.mainWrapper {
  padding: 0 120px;
  overflow-x: hidden;

  .content {
    margin: auto;
  }
}

@media only screen and (max-width: 931.99px) {
  .mainWrapper {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 767.99px) {
  .mainWrapper {
    padding: 0 3.2vw 13.3vw 3.2vw;
    text-align: center;
    margin-top: -9.1vw;
  }
}
