.userBox {
  padding-bottom: 72px;

  .userImgList {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 24px;

    .userImg {
      width: 282px;
      height: 64px;
    }
  }

  .moreCasesText {
    text-align: center;
    font-size: 14px;
    color: #293e60e0;
    line-height: 22px;
    font-weight: 500;

    .arrowIcon {
      color: #293e60e0;
      margin-left: 6px;
    }
  }

  .moreCasesSpan {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
