.container {
  padding: 16px 0 96px;

  .desc {
    padding: 0 32px;
    font-size: 16px;
    color: rgb(161, 161, 170);
    text-align: center;
    margin-bottom: 64px;
  }
}

.contentBox {
  padding: 32px;
  height: 318px;
  border-radius: 16px;
  cursor: default;
  transition: all 0.3s;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;

  .title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
  }

  .descContent {
    font-size: 16px;
    color: #a1a1aa;
  }
}
