.banner {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  .databaseTitleSection {
    padding-top: 95px;
  }

  .titleText {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
  }

  .descriptionText {
    color: rgb(161, 161, 170);
    font-size: 16px;
    line-height: 22px;
    margin-top: 32px;
  }

  .buttonContainer {
    width: fit-content;
    margin-top: 40px;
  }
}
