.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0 64px;
  gap: 32px;

  .databaseTitleSection {
    padding-top: 95px;
  }

  .titleText {
    color: #fff;
    font-size: 64px;
    line-height: 64px;
    max-width: 640px;
  }

  .descriptionText {
    color: rgb(161, 161, 170);
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
    max-width: 448px;
  }

  .buttonContainer {
    width: fit-content;
    margin-top: 40px;
  }
}
