.lastSectionContainer {
  padding: 56px 0 30px;
  text-align: center;

  .title {
    font-size: 32px;
    color: #293e60e0;
    text-align: center;
    font-weight: 700;
  }

  .stepList {
    width: 100%;
    height: 247px;
    display: flex;

    .step {
      border: 1px solid #00000014;
      padding: 33px 0 0 30px;
      width: 0;
      flex: 1;
      position: relative;
      text-align: left;

      .stepNumber {
        position: absolute;
        right: 29px;
        top: 0;
        width: 88px;
        height: 102px;
        font-size: 80px;
        color: #293e60e0;
        text-align: center;
        font-weight: 700;
        opacity: 0.1;
      }

      .stepIcon {
        width: 40px;
        height: 40px;
        margin-bottom: 19px;
      }

      .stepTitle {
        font-size: 20px;
        color: #131415;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 6px;
      }

      ul > li {
        max-width: 305px;
        font-size: 14px;
        color: #131415;
        line-height: 24px;
        opacity: 0.6;
      }
    }
  }
}

// footer btn
.startGuideButton {
  align-self: center;
  min-width: 146px;
  width: 146px;
  height: 46px;
  margin-top: 58px;
  margin-right: 2px;
  border: none;
  background-color: #2e5dfe;
  color: #e6ebff;
  font-size: 16px;
}

.buttonTextQuickStart {
  align-self: center;
  background-color: #2e5dfe;
  white-space: nowrap;
  color: #e6ebff;
  font-size: 16px;
}
