.featureSection {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;

  & > div {
    width: 384px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 12px;
    box-shadow: 0px 9px 28px 8px #84879b0d, 0px 6px 16px 0px #84879b14,
      0px 3px 6px -4px #84879b1f;
    padding: 20px;
    position: relative;
  }
}

.featureImg {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 194px;
  z-index: -2;
}

.featureArrow {
  width: 50px;
  height: 46px;
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: -1;
}

.benchmarkFeature {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px 168px 45px 18px;
  border: solid 1px #e9edf3;
  background-color: #f7f9fc;
}

.featureCategory {
  display: block;
  align-self: flex-start;
  white-space: nowrap;
  color: #2e5dfe;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 11px;
}

.idcMarketScapeLabel,
.leaderStatus {
  font-size: 24px;
  color: #1c2442;
  letter-spacing: -1.7;
}

.messageFeature {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 14px 206px 38px 26px;
  border: solid 1px #e9edf3;
  background-color: #f7f9fc;
}

.ldbCLabel {
  display: block;
  align-self: flex-start;
  white-space: nowrap;
  color: #252d49;
  font-size: 22px;
}

.finBenchProject {
  margin-left: 2px;
  color: #252d49;
  font-size: 22px;
}

.freeTrialFeature {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 14px 186px 50px 34px;
  border: solid 1px #e9edf3;
  border-radius: 18px;
  background-color: #f2f6fa;
}

.aliYunFreeTrial {
  color: #252d49;
  font-size: 22px;
}

.tuGraphOnAliYun {
  display: block;
  align-self: flex-start;
  color: #252d49;
  font-size: 20px;
}
