.banner {
  background-repeat: no-repeat;
  width: 100vw;
  background-size: 100% 100%;
  margin: 0 -120px;
  position: relative;

  .databaseTitleSection {
    padding-top: 92px;
    margin: 0 auto;
  }

  .titleText {
    text-align: center;
    color: #292d3b;
    font-size: 48px;
    font-weight: 300;
  }

  .descriptionText {
    font-family: 'PuHuiTi55';
    margin: 0 auto;
    width: 530px;
    text-align: center;
    text-align: center;
    color: #768191;
    font-size: 14px;
    line-height: 22px;
  }

  .buttonContainer {
    width: fit-content;
    height: 48px;
    display: flex;
    margin: 40px auto 0;
    gap: 16px;

    & > button {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 767.99px) {
  .banner {
    padding: 6.4vw;
    height: 100% !important;
    margin-top: -12vw;
    overflow-x: hidden;

    .containerWrapper {
      margin: 0;

      .slogan {
        min-width: 87.2vw;
        font-size: 7.98vw;
        max-width: 100%;
        line-height: 11.2vw;
        color: rgba(26, 27, 37, 0.88);
        font-family: 'PuHuiTi95';
        text-align: center;
        margin: 19.7vw 0 0 0;
        transition: all 0.3s;
      }

      .description {
        font-size: 4vw;
        color: rgba(26, 27, 37, 0.65);
        text-align: center;
        line-height: 6.4vw;
        margin-top: 2.1vw;
        transition: all 0.3s;
        margin-bottom: 6.4vw;
      }

      .mobileIcon {
        width: 100%;
        margin: 0 auto 6.4vw auto;
      }
    }
  }
}

.featureSection {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;

  .featureSectionItem {
    width: 384px;
    height: fix-content;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 12px;
    box-shadow: 0px 9px 28px 8px #84879b0d, 0px 6px 16px 0px #84879b14,
      0px 3px 6px -4px #84879b1f;
    padding: 20px;
    position: relative;
    cursor: pointer;

    &:hover {
      .featureArrow {
        top: 7px;
        right: 5px;
      }
    }
  }
}

.featureImg {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 194px;
  z-index: -2;
}

.featureArrow {
  display: inline-block;
  width: 50px;
  height: 46px;
  position: absolute;
  top: 17px;
  right: 15px;
  z-index: -1;
  transition: all 0.3s ease;
}

.benchmarkFeature {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px 168px 45px 18px;
  border: solid 1px #e9edf3;
  background-color: #f7f9fc;
}

.featureCategory {
  display: block;
  align-self: flex-start;
  white-space: nowrap;
  color: #2e5dfe;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 11px;
}

.featureContent {
  width: 211px;
  font-size: 24px;
  color: #1c2442;
  letter-spacing: -1.7;
  margin-bottom: 34px;
}
