.blogItem {
  width: 1200px;
  margin: auto;
  padding: 16px 0;
  border-bottom: 1px solid #ffffff1a;
  display: flex;
  cursor: pointer;

  .blogItemImg {
    width: 200px;
    height: 112.5px;
    border-radius: 16px;
    overflow: hidden;
    margin-right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 200px;
      height: 112.5px;
    }
  }

  .blogItemContent {
    flex: 1;
    display: flex;
    flex-direction: column;

    .blogItemText {
      .blogItemTitle {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
