.typelist {
  display: flex;
  gap: 8px;
  cursor: pointer;
  flex-wrap: wrap;
  margin-bottom: 12px;

  .typeItem {
    height: 30px;
    padding: 0px 16px;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    background: #0e0b3b0d;
    border-radius: 15px;
    border: 1px solid #ffffff1a;

    &:hover {
      background: #ffffff0d;
    }
  }

  .typeActived {
    background: rgba(255, 255, 255, 0.08);
  }
}
