.featureContainer {
  margin: 0 -120px;
  background-image: url('https://mdn.alipayobjects.com/huamei_p63okt/afts/img/DdvESa5TfhQAAAAAAAAAAAAADh8WAQFr/original');
  background-size: cover;
  line-height: 1.7;
  padding-top: 90px;
}

.featureDescriptionWrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  // height: ;
  padding: 49px 250px 140px 242px;
  margin: auto;
}

.reliabilityAndSecurityDesign {
  display: block;
  align-self: flex-start;
  margin-top: 310px;
  margin-left: 206px;
  color: #292d3b;
  font-size: 20px;
}

.dataComplianceAndProtection {
  display: block;
  align-self: flex-start;
  margin-top: 6px;
  margin-right: 540px;
  text-align: center;
  color: #768191;
  font-size: 12px;
}

.businessPerformanceOptimization {
  display: block;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 528px;
  color: #292d3b;
  font-size: 20px;
  font-weight: bold;
}

.realTimeAndOfflineAnalysis {
  margin-top: 6px;
  margin-right: 12px;
  margin-left: 528px;
  color: #768191;
  font-size: 12px;
}

.millisecondQuerySupport {
  margin-left: 536px;
  color: #768191;
  font-size: 12px;
}

.trillionDataHandling {
  display: block;
  align-self: flex-start;
  margin-left: 528px;
  color: #768191;
  font-size: 12px;
}

.intuitiveDataManager {
  display: block;
  align-self: flex-start;
  margin-top: 152px;
  margin-left: 266px;
  color: #292d3b;
  font-size: 20px;
}

.easyModelingAndQuery {
  display: block;
  align-self: flex-start;
  margin-top: 6px;
  margin-left: 226px;
  color: #768191;
  font-size: 14px;
}

.graphAlgorithmIntegration {
  display: block;
  align-self: flex-start;
  margin-left: 28px;
  color: #768191;
  font-size: 12px;
}

.efficientApplicationBuilding {
  display: block;
  align-self: flex-start;
  margin-left: 282px;
  color: #768191;
  font-size: 14px;
}

.comprehensiveDevelopmentSupport {
  display: block;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 528px;
  color: #292d3b;
  font-size: 20px;
  font-weight: bold;
}

.rapidApplicationCreation {
  display: block;
  align-self: flex-start;
  margin-top: 8px;
  margin-left: 528px;
  color: #768191;
  font-size: 14px;
}

.smoothMigrationCapability {
  display: block;
  align-self: flex-start;
  margin-left: 528px;
  white-space: nowrap;
  color: #768191;
  font-size: 14px;
}

.lineContet {
  padding-top: 200px;
  position: relative;

  .lineContetItem {
    display: flex;
    height: 104px;
    margin-bottom: 87px;

    .lineContetBox {
      width: 434px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      cursor: pointer;

      .lineContetImg {
        position: absolute;
        top: -188px;
        left: 123px;
        width: 312px;
        height: 172px;
        margin: 0;
      }

      .lineContetTitle {
        font-size: 20px;
        color: #292d3b;
        line-height: 28px;
        text-align: right;
        font-weight: 500;
        margin: 16px 0 10px;
      }

      .lineContetDesc {
        font-size: 14px;
        color: #768191;
        line-height: 22px;
        text-align: right;
      }
    }

    &:nth-child(even) {
      justify-content: flex-end;

      .lineContetImg {
        left: 0;
      }

      .lineContetBox {
        align-items: flex-start;
      }

      .lineContetTitle,
      .lineContetDesc {
        text-align: left;
      }
    }
  }

  .line {
    width: 2px;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      #e8ecf5 0%,
      #d9dbde 60%,
      #e1e4ef 100%
    );
    border-image-slice: 1;
    position: absolute;
    left: 50%;
    top: 0;

    .progress {
      width: 100%;
      height: 100%;
      background-color: red;
    }
  }
}
