.type-block {
  width: 100%;
  text-align: center;

  .heard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .type {
      font-size: 18px;
      color: #fff;
    }

    .more {
      font-size: 14px;
      color: #60a5fa;
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 64px;
  }
}
