.banner {
  padding: 88px 24px 64px;

  .titleText {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .descriptionText {
    color: #a1a1aa;
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0 16px;
  }

  .searchInput {
    background-color: rgba(255, 255, 255, 0.06);
    width: 384px;
    height: 38px;
    border-radius: 19px;
    border: 1px solid #ffffff1a;
    color: #fff;
  }
}
