.activityInfo {
  width: 1200px;
  margin: 0 auto 72px;
}

.markdownContent {
  p > font,
  p,
  li {
    font-size: 16px;
    color: #545762;
    line-height: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #292d3b;
    font-weight: 600;
    margin: 32px 0 16px;
  }

  table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
    width: 100% !important;
  }

  td,
  th {
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }
}

.oldBlog {
  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

.newBlog {
  :global {
    .ne-quote {
      display: block;
      padding-left: 10px;
      margin: 10px 0;
      position: relative;
    }

    .ne-quote::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      border-radius: 2px;
      background-color: #d8dad9;
    }
  }
}
