.banner {
  .databaseTitleSection {
    padding-top: 76px;
  }

  .titleText {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
  }

  .descriptionText {
    color: #a1a1aa;
    font-size: 14px;
    line-height: 22px;
  }

  .icon {
    width: 226px;
    height: 250px;
    margin: 25px 104px 0 0;
  }
}

.footerAction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  .tagList {
    padding: 3px;
    background: #0e0b3b0d;
    border-radius: 6px;
    display: flex;

    .tagItem {
      padding: 5px 16px;
      font-size: 14px;
      color: #292d3b;
      line-height: 20px;
      text-align: center;
      font-weight: 500;
    }

    .tagActived {
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 0px 1px 2px 0px #00000008;
    }
  }
}
