.containerWrapper {
   max-width: 1200px;
  .demoWrapper {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px -4px rgba(132,135,155,0.12), 0 6px 16px 0 rgba(132,135,155,0.08), 0 9px 28px 8px rgba(132,135,155,0.05);
    border-radius: 12px;
    padding: 32px;
    
    .demoCards {
      padding: 12px;
      .demoCard {
        padding: 24px;
        min-height: 216px;
        max-width: 362px;
        background-color:rgba(22,80,255,0.04);
        border-radius: 12px;

        img {
          width: 60px;
          height: 60px;
        }

        .title {
          font-weight: 500;
          font-size: 14px;
          color: rgba(26,27,37,0.88);
          letter-spacing: 0;
          text-align: justify;
          line-height: 22px;
        }
      
        .desc {
          font-weight: 400;
          font-size: 14px;
          color: rgba(26,27,37,0.45);
          letter-spacing: -1px;
          text-align: justify;
          line-height: 22px;
        }

        .type {
          font-weight: 500;
          font-size: 16px;
          color: rgba(26,27,37,0.88);
          line-height: 24px;
          margin: 12px 0 8px 0;
        }
      }
    }
  }

  .exampleWrapper {
    background-color: #FFF;
 
    .crossRow {
       background-color: rgba(22,80,255,0.04);
    }

    .textWrapper {
      padding-right: 16px;
    }

   .exampleCard {
    margin: 0 -120px;
    padding: 32px 120px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(26,27,37,0.45);
    text-align: center;
    line-height: 22px;
    text-align: left;

    .title {
      font-weight: 500;
      font-size: 20px;
      color: rgba(26,27,37,0.88);
      line-height: 28px;
    }

    .description {
      margin-bottom: 20px;
    }

    .subTitle {
      margin-top: 16px;
      font-weight: 500;
      font-size: 14px;
      color: rgba(26,27,37,0.88);
      line-height: 22px;
    }
      
     img {
      width: 427px;
      height: 320px;
      border-radius: 8px;
     }
   }
  }
}

@media only screen and (max-width: 767.99px) {
  .containerWrapper {
    .demoCards {
      display: block;
      margin: 0;
      width: 100%;

      .demoCardWrapper {
        padding: 0;
        
        .demoCard {
          max-width: 100%;
          padding: 16px !important;
          margin-bottom: 32px;
        }
      }
      
    }

    .exampleWrapper {
      margin-top: 120px;
    
      .exampleCards {
        padding: 0;
        display: block;

        .exampleCard {
          display: block;
          width: 100%; 
          margin: 0 0 32px 0;
          padding: 32px 16px 0 16px;

          .textWrapper {
            padding: 0px;

            .header {
              display: block;
              text-align: center;

              .subTitle {
                height: 60px;
                width: 100%;
                background-color: #F5F7FA;
                border-radius: 8px;
                font-size: 16px;
                margin-top: 24px;
                padding: 20px;
              }
            }

            .text{
              margin: 0 0 32px 0;
              color: rgba(0,0,0,0.85);
              text-align: left;
            }

            img {
              margin-bottom: 32px;
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
