  body {
    background: #fff;
  }
  
  :global {
    .lightBtn {
      background: #0069FD;
      border-radius: 8px;
      width: 180px !important;
      height: 48px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.89);
    }

    .darkBtn {
      border-radius: 8px;
      width: 180px !important;
      height: 48px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.89);
      background: #00122B;
      border-color: #00122B;
    }
    .ant-layout {
      background: #fff;
    }
  }
  
.containerWrapper {
  .users {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
  }

  .moreDemo {
    margin: 0 180px;
    border-top: 1px solid #D8D8D8;

    .text {
      float: right;
      font-size: 16px;
      color: #494949;
      margin-top: 30px;
      
      &:hover {
        color:#0069FD;
      }
    }
  }
}
