  body {
    background-color: #fff;
  }
  
  .homeLayout {
    background-image: url('https://gw.alipayobjects.com/zos/bmw-prod/15d38f2d-4bf6-46be-9ccf-645ca15a5a17.svg');
    background-repeat: no-repeat;
    background-position-y: -20px;
  }

  :global {
    .lightBtn {
      background: #0069FD;
      border-radius: 8px;
      width: 180px !important;
      height: 48px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.89);
    }

    .darkBtn {
      border-radius: 8px;
      width: 180px !important;
      height: 48px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.89);
      background: #00122B;
      border-color: #00122B;
    }
  }
  
 