.containerWrapper {

  .banner,
  .reasonCard,
  .videoWrapper {
    border-radius: 12px;
    box-shadow: 0 10px 30px 12px rgba(158,181,213,0.10);
    border-radius: 12px;
    background-color: #FFF;
  }

  .banner {
      margin: -100px 80px 80px 80px;
      padding: 35px 65px;
      height: 478px;

      .title {
        font-weight: 600;
        font-size: 28px;
        color: #494949;
        margin-bottom: 32px;
      }

      .list {
        font-weight: 500;
        font-size: 24px;
        color: rgba(51,51,51,0.89);
        margin: 80px;
        cursor: pointer;
        &:hover {
          color: #0169fd
        }
      }
  }

  .featCards {
    display: flex;
    justify-content: center;
    align-items: center;

    .featCard {
     
      margin-right: 40px;
      height: 321px;
      max-width: 514px;  
      border-radius: 12px;
      background-color: #FFFFFF;
      box-shadow: 0 10px 30px 10px rgba(158,181,213,0.10);
      padding: 85px 65px !important;

      .title {
        position: relative;
        font-weight: 600;
        font-size: 20px;
        color: rgba(51,51,51,0.89);
        text-align: center;
        margin-bottom: 22px;
        z-index: 99;
      }

      .leftImg {
        position: absolute;
        top: 50px;
        left: 110px;
        z-index: 1;
      }

      .rightImg {
        position: absolute;
        top: 50px;
        right: 110px;
        z-index: 1;
      }


      .desc {
        font-weight: 400;
        font-size: 14px;
        color: rgba(51,51,51,0.89);
        letter-spacing: 0.8px;
        text-align: center;
        line-height: 22px;
        z-index: 2;
      }
    }
  }

  .reasonWrapper {

    .reasonCard {
      margin: 0 100px 35px 100px;
      padding: 50px 160px 0 160px;
      position: relative;
      color: rgba(51,51,51,0.89);
      font-size: 18px;
      color: rgba(51,51,51,0.89);
      letter-spacing: 1.03px;
      height: 360px;

      img {
        position: absolute;
        top: 40px;
        right: 37px;
      }
    }
  }
  
    
  .quickStart {
    display: flex;
    justify-content: center;

    .videoWrapper {
      height: 561px;
      width: 958px;
      padding: 37px 49px;
      margin-bottom: 120px;

      video {
        border-radius: 6px;
      }
    }
   
  }
}

@media only screen and (max-width: 1024px) {
  .containerWrapper {
    .banner {
      margin: -100px 64px 64px 64px;
      padding: 32px 64px;
    }
  }
}

@media only screen and (max-width: 931.99px) {
  .containerWrapper {
    .banner {
      margin: -100px 32px 32px 32px;
       padding: 16px 24px;
      height: auto;
    }
    .reasonWrapper {
      .reasonCard {
        margin: 32px;
        padding: 64px 32px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 767.99px) {
  .containerWrapper {
   .banner {
      margin: -100px 16px 16px 16px;
      padding: 16px 32px;
      height: auto;

      .list {
        font-size: 14px;
        margin: 16px 0;
      }
    }

    .featCards {
      margin: 0 !important;
      padding: 0 16px;
      display: block;
      
      .featCard {
        margin: 16px auto;
        padding: 32px 16px !important;
        height: auto;
        height: 514px;

        .title {
          .mobileImg {
            display: block;
            width: 100px;
            height: 100px;
            margin: 50px auto;
          }
        }

        .leftImg,
        .rightImg {
          width: 70px;
          left: 16px !important;
          top: 216px !important;
        }
      }
    }

    .reasonWrapper {
      margin-top: -120px;
      padding-top: 100px;
      background-image: linear-gradient(180deg, #ECF5FF 0%, #ECF5FF 48%, rgba(235,245,255,0.00) 100%);

      .reasonCard {
        margin: 16px;
        padding: 32px 16px;
        height: auto;
      }
    }
    .quickStart {
      display: block;
      padding: 0 16px;

      .videoWrapper {
        width: 100%;
        padding: 32px 16px;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;

        video {
          border-radius: 6px;
        }
      }
    }
  }
}
