.containerWrapper {


  .videoWrapper {
    box-shadow: 0px 0px 30px 15px rgba(0,15,60,0.05);
    border-radius: 12px;
    background: #FFFFFF;
    
    .card {
     padding: 32px;
     
      video {
        border-radius: 8px;
      }

      .title {
        font-weight: 500;
        font-size: 20px;
        color: rgba(26,27,37,0.88);
        margin-top: 16px;
        display: inline-block;
      }

      .tag {
        margin-left: 12px;
        height: 24px;
        text-align: center;
        width: 68px;
        padding: 4px 8px;
        background-color: rgba(0,0,0,0.06);
        border-radius: 4px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(0,0,0,0.65);
        display: inline-block;
        line-height: 18px;
      }
    }
  }

  .introWrapper {
    font-weight: 400;
    font-size: 14px;
    color: rgba(26,27,37,0.65);
    text-align: center;
    line-height: 22px;
  }

  .featCards {
    display: flex;
    justify-content: center;
    margin: -12px;

    .featCardGroup {
      min-height: 187px;
      width: 100%;
      max-width: 1184px;
      padding: 12px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .featCard {
        border-radius: 12px;
        background-color: rgba(22,80,255,0.04);
        width: 100%;
        height: 100%;
        padding: 40px;
        margin: auto;

        img {
          margin-bottom: 32px;
          width: auto;
          height: 72px;
        }
      }

      .title {
        font-weight: 500;
        font-size: 20px;
        color: rgba(26,27,37,0.88);
        line-height: 28px;
        text-align: left;
        width: 100%;
        margin-bottom: 16px;
      }

      .desc {
        font-weight: 400;
        font-size: 14px;
        color: rgba(26,27,37,0.45);
        text-align: justify;
        line-height: 22px;
      }
    }
  }

  .reasonWrapper {
    background-image: url(https://mdn.alipayobjects.com/huamei_qcdryc/afts/img/A*H1z6QbQW9vMAAAAAAAAAAAAADgOBAQ/original);
    background-size: cover;
    margin: 71px -120px -72px -120px;
    padding: 1px 120px 72px 120px;
    
    .reasonCard {
      height: 130px;
      background-color: #FFFFFF;
      box-shadow: 0 3px 6px -4px rgba(132,135,155,0.12), 0 6px 16px 0 rgba(132,135,155,0.08), 0 9px 28px 8px rgba(132,135,155,0.05);
      border-radius: 12px;
      font-size: 14px;
      color: rgba(26,27,37,0.65);
      text-align: center;
      line-height: 22px;
      padding: 32px;
    }
  }
}

@media only screen and (max-width: 931.99px) {
  .containerWrapper {
    .reasonWrapper {
      .reasonCard {
        margin: 32px;
        padding: 64px 32px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 767.99px) {
  .containerWrapper {
    .banner {
      padding: 24px;
    }
    .banner {
      margin-bottom: 88px;
      .btnGroup {
        margin-top: 32px;
        width: 100%;
        display: inline-block;

        button {
          height: 42px;
          width: 50%;
        }

        .left {
          border-radius: 8px 0 0 8px;
        }

        .right {
          border-radius: 0 8px 8px 0;
        }
      }
    }

    .featCards {
      margin: 0 !important;
      padding: 0 16px;
      display: block;

      .featCard {
        margin: 16px auto;
        padding: 32px 16px !important;
        height: auto;

        .title {
          .mobileImg {
            display: block;
            width: 100px;
            height: 100px;
            margin: 50px auto;
          }
        }

        .bgImg {
          width: 70px;
          left: 16px !important;
          top: 216px !important;
        }
      }
    }

    .reasonWrapper {
      margin: 120px 0;

      .reasonCard {
        margin: 0;
        padding: 0;
        height: auto;
        box-shadow: none;
      }
    }

  }
}
