.tabList {
  padding: 3px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  display: flex;
  cursor: pointer;
  border-radius: 15px;

  .tabItem {
    border-radius: 15px;
    height: 30px;
    padding: 0 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.55);
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
  }

  .tabActived {
    background: rgba(255, 255, 255, 0.95);
    color: rgb(17, 24, 39);
  }
}
