.header {
  padding: 0 120px;
  z-index: 999;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  transition: all ease 0.3s;

  .menu {
    height: 64px;
  }

  .languageIcon {
    width: 24px;
    margin-right: -8px;
  }

  .log {
    width: 122px;
    height: 24px;
  }

  .containerWrapper {
    img {
      width: 100%;
    }
  }

  :global {
    .ant-menu {
      height: 54px;
      background: rgba(0, 0, 0, 0);
      border: none;
      font-size: 14px;
      font-weight: 400;
      color: rgba(26, 27, 37, 0.88);
      line-height: 22px;
    }
    .ant-menu-horizontal > .ant-menu-submenu::after {
      display: none;
    }

    .ant-menu-item,
    .ant-menu-submenu {
      display: flex;
      align-items: center;
      margin: 0 20px;
      padding: 0 !important;
    }

    .ant-menu-submenu-selected::before,
    .ant-menu-item-selected::before {
      content: '';
      position: absolute;
      top: 0;
      height: 3px;
      width: 100%;
      background-color: @primary-color;
      border-radius: 2px;
    }

    .ant-menu-item-selected a,
    .ant-menu-submenu-selected,
    .ant-menu-item-selected {
      font-weight: 500;
      font-size: 14px;
      color: rgba(26, 27, 37, 0.88) !important;
    }

    .ant-menu-horizontal > .ant-menu-item::after {
      display: none;
    }
    .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-submenu-selected::after {
      display: none;
    }
    .ant-menu-item-active {
      color: @primary-color;
      a {
        font-weight: 500;
      }
    }
    img {
      width: 120px;
    }
  }
}

:global {
  .ant-menu-submenu-popup > .ant-menu {
    background-color: #ffffff;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 0.12), 0 9px 20px 8px rgb(0 0 0 0.05);
    border-radius: 8px;
    margin-top: 12px;
  }

  .ant-menu-vertical.ant-menu-sub {
    min-width: 96px;
  }
}

.sticky {
  background: rgba(255, 255, 255, 0.88);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 767.99px) {
  .header {
    height: 11.7vw;
    padding: 2.7vw 3.2vw;
    transition: all 0.3s;
    .languageIcon {
      width: 7.8vw;
      color: #1a1b25;
    }
    .menuIcon {
      font-size: 4.8vw;
      transition: all 0.3s;
      color: #1a1b25;
      opacity: 0.85;
    }
    img {
      width: 21.3vw;
    }
  }

  .MenuList {
    .menuChildren {
      font-weight: 400;
    }
    :global {
      .ant-menu-inline.ant-menu-root .ant-menu-item,
      .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
        display: flex;
        font-weight: 500;
        align-items: center;
        font-size: 3.7vw;
        width: 93.6vw;
        height: 100%;
        transition: border-color 0.3s, background 0.3s,
          padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
        height: 12.8vw;
        padding: 3.7vw 1vw;
        font-weight: 500;
      }

      .ant-menu-inline,
      .ant-menu-vertical,
      .ant-menu-vertical-left {
        border-right: 0;
      }
      .ant-menu-sub.ant-menu-inline {
        background-color: #fff !important;
      }
    }
  }

  :global {
    .ant-collapse-ghost > .ant-collapse-item-active {
      height: 100% !important;
    }
    .ant-drawer-header {
      padding: 3.7vw 3.2vw;
      font-weight: 500;
      img {
        width: 21.3vw;
      }
    }
    .ant-drawer-body {
      padding: 2.1vw 3.2vw;
      width: 100vw;
      overflow-x: hidden;
      .menuList {
        height: 12.8vw;
        padding: 3.7vw 1vw;
        font-weight: 500;

        a {
          color: rgba(26, 27, 37, 0.88);
          font-size: 3.7vw;
        }
      }

      .ant-collapse-content-active {
        .ant-collapse-content-box {
          .menuList {
            a {
              font-weight: 400 !important;
              font-size: 3.2vw !important;
            }
          }
        }
      }
    }
  }

  .collapse {
    height: 12.8vw;
    :global {
      .ant-collapse-content-box {
        padding: 0 0 0 24px !important;
      }

      .ant-collapse-header {
        padding: 0 !important;
        border-bottom: none;
      }

      .ant-collapse-expand-icon {
        position: absolute;
        right: 0px;
        color: rgba(26, 27, 37, 0.65);
        padding: 3.7vw 1vw;
        span {
          font-size: 2.7vw !important;
        }
      }

      .ant-collapse-header-text {
        font-size: 3.7vw;
        font-weight: 500;
        height: 12.8vw;
        padding: 3.7vw 1vw;
        color: rgba(26, 27, 37, 0.88);
      }
    }
  }
}
