.header {
  padding: 0 120px;
  z-index: 999;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  transition: all ease 0.3s;

  a {
    height: 32px;
  }

  .menu {
    height: 64px;
  }

  .log {
    width: 122px;
    height: 24px;
  }

  .containerWrapper {
    img {
      width: 100%;
    }
  }

  :global {
    .ant-menu {
      height: 54px;
      background: rgba(0, 0, 0, 0);
      border: none;
      font-size: 14px;
      font-weight: 400;
      color: rgba(26, 27, 37, 0.88);
      line-height: 22px;
    }

    .ant-menu-item,
    .ant-menu-submenu {
      display: flex;
      align-items: center;
      margin: 0 20px;
      padding: 0 !important;
    }

    .ant-menu-submenu-selected::before,
    .ant-menu-item-selected::before {
      content: '';
      position: absolute;
      top: 0;
      height: 3px;
      width: 28px;
      background-color: @primary-color;
      border-radius: 2px;
    }

    .ant-menu-item-selected a,
    .ant-menu-submenu-selected,
    .ant-menu-item-selected {
      font-weight: 500;
      font-size: 14px;
      color: rgba(26, 27, 37, 0.88) !important;
    }

    .ant-menu-horizontal > .ant-menu-item::after {
      display: none;
    }
    .ant-menu-item-active {
      color: @primary-color;
      a {
        font-weight: 500;
      }
    }
    img {
      width: 120px;
    }
  }
}

:global {
  .ant-menu-submenu-popup > .ant-menu {
    background-color: #ffffff;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 0.12), 0 9px 20px 8px rgb(0 0 0 0.05);
    border-radius: 8px;
    margin-top: 12px;
  }

  .ant-menu-vertical.ant-menu-sub {
    min-width: 96px;
  }
}

.sticky {
  background: rgba(255, 255, 255, 0.88);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 767.99px) {
  .header {
    height: 88px;
    padding: 0 24px;
    transition: all 0.3s;
    .menuIcon {
      font-size: 24px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      right: 24px;
      top: 31px;
      transition: all 0.3s;
    }
  }

  :global {
    .ant-collapse-ghost > .ant-collapse-item-active {
      height: 282px !important;
    }
    .ant-drawer-header {
      padding: 36px 24px;
    }
  }

  .collapse {
    height: 96px;
    :global {
      .ant-collapse-content-box {
        padding: 0 0 0 24px !important;
      }

      .ant-collapse-header {
        padding: 0 !important;
        border-bottom: 1px solid #5097fc;
      }

      .ant-collapse-expand-icon {
        position: absolute;
        right: 0px;
        color: #fff;
        padding: 30px 0;
        span {
          font-size: 24px !important;
        }
      }

      .ant-collapse-header-text {
        font-size: 24px;
        height: 94px;
        letter-spacing: 8px;
        padding: 24px 0;
        color: #ffffff;
      }
    }
  }
}
