.InfoContent {
  width: 0;
  flex: 1;
  min-height: 100%;
  position: relative;

  img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  .InfoContentTitle {
    font-size: 26px;
    color: #292d3b;
    line-height: 34px;
    font-weight: 600;
    margin: 20px 0 13px;
  }

  .InfoContentText {
    margin-top: 32px;

    code {
      white-space: pre-wrap;
    }
  }

  .footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 32px;
    border-top: 1px solid #d8dce3;
    margin-top: 28px;
    cursor: pointer;

    & > div {
      width: 0;
      flex: 1;
    }

    .nextBtn,
    .lastBtn {
      & > div {
        font-size: 14px;
        color: #768191;
        line-height: 22px;
      }

      .title {
        color: #292d3b;
      }
    }

    .nextBtn {
      text-align: right;
    }
  }
}
