.userDemo {
  margin: 0 -120px;
  background-image: url('https://mdn.alipayobjects.com/huamei_p63okt/afts/img/DdvESa5TfhQAAAAAAAAAAAAADh8WAQFr/original');
  background-size: cover;
  padding: 56px 120px;

  & > div {
    width: 1200px;
    margin: auto;
  }

  .demoList {
    height: 399px;
    display: flex;
    justify-content: space-between;

    .demoItem {
      padding: 40px 28px 0;
      width: 272px;
      height: 330px;
      border-radius: 16px;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      .itemBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: all 0.3s;
      }

      .logo {
        width: 150px;
        height: 50px;
        background-size: cover;
      }

      .desc {
        margin: 23px 0 15px;
        font-size: 16px;
        color: #545762;
        line-height: 26px;
      }

      .arrowIcon {
        color: #131415;
        font-size: 12px;
        transition: all 0.3s;
      }

      &:hover {
        .itemBg {
          transform: scale(1.1);
        }

        .arrowIcon {
          transform: translateX(5px);
        }
      }
    }

    .demoItem:nth-child(even) {
      align-self: flex-end;
      /* 向下对齐 */
    }
  }

  .more {
    width: fit-content;
    margin: 50px auto 58px;
    font-size: 16px;
    color: #293e60e0;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    .arrowIcon {
      font-size: 11px;
      font-weight: 500;
      transition: all 0.3s;
    }

    &:hover {
      .arrowIcon {
        transform: translateX(5px);
      }
    }
  }
}
