.userDemo {
  margin: 0 -120px;
  background-image: url('https://mdn.alipayobjects.com/huamei_p63okt/afts/img/DdvESa5TfhQAAAAAAAAAAAAADh8WAQFr/original');
  background-size: cover;
  padding: 56px 120px;

  .userDemoTitle {
    font-size: 32px;
    color: #293e60e0;
    text-align: center;
    font-weight: 700;
    margin-bottom: 56px;
  }

  .demoList {
    height: 399px;
    display: flex;
    justify-content: space-between;

    .demoItem {
      width: 272px;
      height: 330px;
      background: #ffffff;
      border-radius: 16px;
    }

    .demoItem:nth-child(even) {
      align-self: flex-end;
      /* 向下对齐 */
    }
  }

  .more {
    text-align: center;
    font-size: 16px;
    color: #131415;
    line-height: 24px;
    font-weight: 500;
    margin-top: 51px;
  }
}
