.userDemo {
  margin: 0 -120px;
  background-image: url('https://mdn.alipayobjects.com/huamei_p63okt/afts/img/DdvESa5TfhQAAAAAAAAAAAAADh8WAQFr/original');
  background-size: cover;
  padding: 56px 120px;

  .demoList {
    height: 399px;
    display: flex;
    justify-content: space-between;

    .demoItem {
      width: 272px;
      height: 330px;
      background: #ffffff;
      border-radius: 16px;
      cursor: pointer;
    }

    .demoItem:nth-child(even) {
      align-self: flex-end;
      /* 向下对齐 */
    }
  }

  .more {
    width: 146px;
    height: 48px;
    font-size: 16px;
    font-size: 16px;
    color: #ffffffe0;
    font-weight: 500;
    background: #2e5dfe;
    border-radius: 24px;
    margin: 51px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    .arrowIcon {
      font-size: 11px;
      transition: all 0.3s;
    }

    &:hover {
      .arrowIcon {
        transform: translateX(5px);
      }
    }
  }
}
