.banner {
  background-repeat: no-repeat;
  // margin-top: -68px;
  width: 100vw;
  background-size: cover;
  padding: 142px 0 0;
  margin: 0 -120px;
  position: relative;

  .databaseTitleSection {
    display: flex;
    flex-direction: column;
    width: 1436px;
    padding: 0 110px 79px 126px;
  }

  .titleText {
    color: #292d3b;
    font-size: 48px;
    font-weight: 300;
  }

  .descriptionText {
    color: #768191;
    font-size: 14px;
    line-height: 22px;
  }
}
