@import '../../global.less';

.popoverMin {
  width: auto;

  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}

.header {
  height: fit-content;
  padding: 0 120px;
  z-index: 999;
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  transition: all 0.5s linear;
}

.headerBox {
  width: 100%;
  display: flex;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3f537123;
}

.headerLeft {
  display: flex;
  align-items: center;

  .log {
    width: 122px;
    height: 24px;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.headerRight {
  display: flex;
  align-items: center;

  .lang {
    width: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 17px 0 14px;

    .languageIcon {
      width: 24px;
      height: 24px;
      color: @txt-color;
    }
  }

  .loginBtn,
  .languageText {
    line-height: 24px;
    font-size: 16px;
    color: @txt-color;
  }

  :global {
    .DocSearch-Button {
      height: 32px;
      background: #f8fbff59;
      border-radius: 16px;

      .DocSearch-Search-Icon {
        width: 16px;
        height: 15px;
        color: @secondary-color;
        font-weight: 900;
      }

      .DocSearch-Button-Placeholder {
        color: @secondary-color;
        font-weight: 400;
      }

      .DocSearch-Button-Keys {
        display: none;
      }
    }
  }
}

.menuList {
  display: flex;
  margin-left: 162px;
  margin-top: -66px;
  height: 66px;

  .menuItem {
    cursor: pointer;
  }

  .menuItem,
  .mainMenuCase,
  .mainMenuProduct {
    height: 66px;
    margin-right: 24px;

    .mainMenu {
      height: 66px;
      line-height: 66px;
      font-size: 16px;
      color: @txt-color;
      overflow-y: hidden;
      position: relative;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: rgb(217, 225, 234);
        border: 1px solid transparent;
        border-color: #3f537123 #3f537123 transparent transparent;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
        transition: bottom 0.3s ease;
      }
    }

    &:hover > .mainMenu::after {
      bottom: -6px;
    }
  }

  .menuItemSelect {
    .mainMenu {
      &::after {
        bottom: -6px;
      }
    }
  }
}

.productSubMenu {
  width: 100%;
  padding: 45px 282px 0;
  display: flex;

  .productSubMenuVersion:first-child {
    margin-right: 97px;
  }

  .productSubMenuTitle {
    font-size: 14px;
    color: @secondary-color;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .productSubMenuItem {
    margin-bottom: 24px;

    .productSubMenuItemLabel {
      font-size: 14px;
      color: @title-color;
      line-height: 22px;
    }

    .productSubMenuItemDesc {
      font-size: 14px;
      color: @secondary-color;
      line-height: 22px;
      text-align: justify;
    }
  }
}

.communitySubMenu {
  width: 100%;
  padding: 45px 0 0 282px;
  display: flex;

  .subMenuBanner {
    width: 262px;
    height: 164px;
    margin-right: 89px;
    background: #dfe5ee;
    border: 1px solid #c4ceda;
    border-radius: 12px;
    padding: 23px 22px;
    color: #1a1b25e0;

    .bannerTitle {
      font-size: 24px;
      line-height: 22px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .bannerDesc {
      font-size: 12px;
      line-height: 20px;
      opacity: 0.6;
    }
  }

  .subMenuCol {
    margin-right: 172px;

    & > div {
      font-size: 14px;
      color: @title-color;
      line-height: 22px;
      margin-bottom: 16px;
    }

    .subMenuTitle {
      color: @secondary-color;
      font-weight: 500;
    }
  }
}

.subMenuCommunity,
.subMenuProduct {
  margin: 0 -120px;
  width: 100vw;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
