.downloadList {
  .downloadItem {
    margin-bottom: 64px;

    .title {
      font-size: 18px;
      color: #fff;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    .typeList {
      display: flex;
      justify-content: space-between;

      .typeItem {
        width: 584px;
        height: fix-content;
        padding: 20px;
        background: rgba(255, 255, 255, 0.03);
        border-radius: 16px;
        backdrop-filter: blur(12px);

        .typeItemTitle {
          font-size: 18px;
          color: #fff;
          line-height: 20px;
          font-weight: 600;
          margin: 0 12px 12px 0;
        }
      }

      .typeItemFlex {
        display: flex;
        align-items: center;

        .typeItemTitle {
          margin-bottom: 0;
        }
      }
    }
  }
}

.fileDesc {
  margin-top: 12px;
  font-size: 14px;
  color: #d4d4d8;
  letter-spacing: 0;
  line-height: 22px;
}
