.footer {
  z-index: 9;
  cursor: pointer !important;
  padding: 64px 32px;
  margin-top: 130px;
  border-top: 1px solid rgb(38, 38, 38);

  .contactGroup {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.89);
  }

  .slack {
    font-size: 5.2vw;
    color: #fff;
    display: block;
  }

  a:hover {
    color: #fff !important;
  }

  .containerWrapper {
    margin: auto;
    margin-bottom: 48px;

    .title {
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      line-height: 20px;
      margin-bottom: 16px;
    }

    a,
    .item {
      font-size: 14px;
      color: rgb(113 113 122);
      line-height: 20px;
      display: block;
    }

    .item {
      margin-top: 12px;
    }
  }

  .footerExtraInfo {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 16px;

    .filingIcon {
      width: 14px;
      height: 15.5px;
      margin-right: 6px;
    }

    a,
    div {
      font-size: 12px;
      color: #52525b;
      line-height: 20px;
    }

    .statement {
      color: #71717a;
      font-size: 14px;
    }
  }

  :global {
    .docFooter {
      margin-left: 242px;
    }
  }
}
