.banner {
  margin: 64px 0 40px;

  .titleText {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600px;
    color: #fff;
  }

  .descriptionText {
    width: 896px;
    font-size: 14px;
    color: #a1a1aa;
    line-height: 20px;
    margin-top: 16px;
  }
}
