.partners-support {
  padding: 96px 0;
}

.benefitCard {
  padding: 24px;
  background: rgba(20, 20, 25, 0.6);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  border: 1px solid #27272a80;
  cursor: pointer;

  .title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    span {
      width: 32px;
      height: 32px;
      background-color: rgba(59, 130, 246, 0.1);
      color: rgb(96, 165, 250);
      border-radius: 12px;
      text-align: center;
      line-height: 32px;
    }
  }

  .desc {
    color: rgb(161, 161, 170);
    font-size: 14px;
  }

  &:hover {
    .title > div {
      color: rgb(96, 165, 250);
    }
  }
}
