@main-color: #2e5dfe;

@ornament-color: #6962e7;

@title-color: #292d3b;

@txt-color: #545762;

@secondary-color: #768191;

@bg-color: #f7f8fa;

/* 引入系统字体 */
@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), local('HelveticaNeue'),
    local('Helvetica Neue Regular'), local('HelveticaNeue-Regular');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
}

#root {
  transform-origin: top left;
}
