.downloadList {
  max-width: 1200px;
  margin: auto;

  .downloadItem {
    margin-bottom: 64px;

    .title {
      font-family: Roboto-Bold;
      font-size: 32px;
      color: #292d3b;
      line-height: 40px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 40px;
    }

    .typeList {
      display: flex;
      justify-content: space-between;

      .typeItem {
        width: 584px;
        height: fix-content;
        background: #f4f6f8;
        border-radius: 12px;
        padding: 20px;

        .typeItemTitle {
          font-family: Roboto-Medium;
          font-size: 16px;
          color: #292d3b;
          line-height: 24px;
          font-weight: 500;
          margin: 0 12px 12px 0;
        }
      }

      .typeItemFlex {
        display: flex;
        align-items: center;

        .typeItemTitle {
          margin-bottom: 0;
        }
      }
    }
  }
}

.fileDesc {
  margin-top: 12px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #768191;
  letter-spacing: 0;
  line-height: 22px;
}
