.banner {
  background-repeat: no-repeat;
  background-position-y: -20px; 
  background-size: cover;
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 518px;
  padding: 0 170px;

  .slogan {
    line-height: 90px;
    max-width: 620px;
    font-size: 60px;
    color: #000A1B;
    margin: 96px 0;
  }

  .subTitle {
    font-size: 36px;
    color: #000A1B;
    line-height: 90px;
    margin-top: -96px;
  }

  .btnGroup {
    margin-top: 50px;
  }
}
