.banner {
  width: 100%;
  height: calc(100vh - 260px);
  min-height: 518px;
  padding: 0 170px;

  .slogan {
    line-height: 90px;
    max-width: 620px;
    font-size: 60px;
    color: #000A1B;
    margin: 96px 0;
  }
}
