.applicationScenariosWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  padding: 76px 180px 92px;
  background-color: #fff;
}

.applicationSceneTitle {
  color: #292d3b;
  font-size: 30px;
  margin: 0 auto;
  padding-bottom: 18px;
}

.governmentSectorWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 0 auto;
}

.industrialSectorWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 78px;
}

.generalSectorWrapper {
  display: flex;
  flex-direction: column;
  width: 236px;
  height: 300px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 52px 68px 5px 2px;
}

.governmentImage {
  flex-shrink: 0;
  width: 88px;
  height: 88px;
  margin-left: 78px;
  border-radius: 2px;
}

.governmentDescriptionWrapper {
  flex: 0 0 auto;
  align-self: flex-start;
  width: 132px;
  height: 134px;
  margin-top: 20px;
  border: solid 4px #f4f3f7;
  border-radius: 16px;
  background-color: #eaeaed;
}

.governmentButton {
  align-self: flex-start;
  width: 92px;
  height: 35px;
  margin-top: 10px;
  margin-left: 32px;
  background-color: #eaeaed;
  color: #a1a0be;
}

.financialSectorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 266px;
  margin-top: 20px;
}

.industrialImage {
  flex-shrink: 0;
  width: 68px;
  height: 68px;
  margin-top: 60px;
  border-radius: 2px;
}

.tagWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.industrialDescriptionWrapper {
  flex: 0 0 auto;
  width: 108px;
  height: 106px;
  border: solid 4px #f4f3f7;
  border-radius: 16px;
  background-color: #eaeaed;
}

.industrialTag {
  align-self: center;
  margin-top: 15px;
  margin-left: 2px;
  background-color: #eaeaed;
  white-space: nowrap;
  color: #a1a0be;
  font-size: 14px;
}

.telecomSectorWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  margin-left: 46px;
}

.telecomDescriptionWrapper {
  flex: 0 0 auto;
  align-self: flex-start;
  width: 170px;
  height: 168px;
  border: solid 4px #eff0f6;
  border-radius: 16px;
  background-color: #ebecf3;
  cursor: pointer;
}

.financialButton {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  width: 94px;
  height: 36px;
  margin-top: 15px;
  margin-left: 36px;
  background-color: #eaeaed;
  color: #a1a0be;
}

.generalImage {
  flex-shrink: 0;
  width: 118px;
  height: 122px;
  margin-left: 150px;
  border-radius: 2px;
}

.tagDescriptionWrapper {
  flex: 0 0 auto;
  align-self: flex-start;
  width: 106px;
  height: 106px;
  border: solid 1px #f4f3f7;
  border-radius: 16px;
  background-color: #eaeaed;
  cursor: pointer;
}

.generalTag {
  align-self: flex-start;
  margin-top: 18px;
  margin-left: 20px;
  background-color: #eaeaed;
  white-space: nowrap;
  color: #a1a0be;
  font-size: 14px;
}

.internetSectorWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  margin-bottom: 62px;
  margin-left: 18px;
}

.internetImageWrapper {
  display: flex;
  flex-direction: row;
}

.internetDescriptionWrapper {
  flex: 0 0 auto;
  width: 108px;
  height: 108px;
  margin-top: 76px;
  border: solid 4px #f4f3f7;
  border-radius: 16px;
  background-color: #eaeaed;
}

.telecomImage {
  flex-shrink: 0;
  width: 84px;
  height: 84px;
  margin-bottom: 102px;
  margin-left: 15px;
  border-radius: 2px;
}

.internetButton {
  align-self: flex-start;
  max-width: 78px;
  width: 80px;
  height: 30px;
  margin-top: 16px;
  margin-left: 15px;
  background-color: #eaeaed;
  color: #a1a0be;
}

.internetTagWrapper {
  flex: 0 0 auto;
  align-self: flex-start;
  width: 130px;
  height: 130px;
  margin-top: 80px;
  margin-left: 16px;
  border: solid 4px #f4f3f7;
  border-radius: 16px;
  background-color: #eaeaed;
}

.internetTag {
  align-self: flex-start;
  margin-top: 18px;
  margin-left: 38px;
  background-color: #eaeaed;
  white-space: nowrap;
  color: #a1a0be;
  font-size: 14px;
}
